.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  background-color: rgb(50, 50, 50);
}

.authentication form {
  margin-bottom: 1rem;
}

.auth-header {
  color: white;
}
